@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

* #root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;

  position: relative;
}

* #root .main .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 360px;
  height: auto;
  margin: 3px;
  padding: 0.5rem;
  background: #000000ef;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.5vh;
  border: 2.5px solid #ff005554;
}

* #root .main .notification .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 90%;
  padding: 0.5rem;

  & span {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.2rem;
  }
}

* #root .main .notification .type {
  color: #ff0055;
  display: flex;

  justify-content: center;
  align-items: start;

  width: 20%;
  height: 100%;
  z-index: 1;

  font-size: x-large;
}

#hej {
  position: absolute;
}

.unfold {
  -webkit-animation: unfold 10s ease;
  animation: unfold 10s ease;
}

.title {
  color: #ff0055ae;
  font-size: 1.5rem;
}

.fold {
  -webkit-animation: fold 2s ease;
  animation: fold 2s ease;
}

@-webkit-keyframes loading {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes loading {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes fold {
  0% {
    opacity: 0.8;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6%,
  20%,
  80% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@keyframes fold {
  0% {
    opacity: 0.8;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  6%,
  20%,
  80% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@-webkit-keyframes unfold {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  6%,
  20%,
  80% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes unfold {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  6%,
  20%,
  80% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.center-right {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
